
sandpit
data/output
data/video
data/yolov8_models
data/tracks
data/input


yolov8
data/Ratnayake2023_processed/
testing_folder/myenv
myenv
testing_folder/GoogleCloud/service-secrets.json
/testing_folder
